*{
	margin:0;
	padding:0;
}
html, body{
	width:100%;
	height:100%;
	background:#fff;
} /* just to be sure these are full screen*/
#canvas_wrapper{
	text-align:center;
}
canvas {
	/*border:1px solid black;*/
	position:absolute;
	left:0;
	top:0;
}
#text_canvas { 
	z-index:99;
}